:root {
    --phone-breakpoint: 414px;
    --background: #f6f7fb;
    --blue: #00ade8;
    --deep-blue: #0981cf;
    --dark-blue: #293258;
    --gray: #777;
    --light: #eee;
    --light2: #ddd;
    --double: 32px;
    --unit: 16px;
    --half: 8px;
    --opf: 24px;
    --quarter: 4px;
    --q-tertiary: #fb32a7;
    --tertiary: #0987d9;
    --secondary: #ab31f6;
    --primary: #0a93eb;
    --primary-button-background-color: #0a93eb;
    --primary-button-hover-background-color: #0987d7;
    --primary-alpha: #0a93eb;
    --primary-dark: #0981cf;
    --link: #66a1ff;
    --input-bc: #bdc7d8;
    --link-dark: #0f29f0;
    --link-hover: #1f75ff;
    --link-white: #0fe4f0;
    --link-orange: #fff;
    --link-orange-hover: #ddd;
    --hover: rgba(0,0,0,8%);
    --hover-bg: rgba(27,113,255,0.1);
    --bright: #fff;
    --bright-light: hsla(0,0%,100%,0.5);
    --txt: #4d4b5a;
    --txt-header: #222;
    --text-white: #fefefe;
    --dim: #777;
    --bc: rgba(176,180,207,0.175);
    --bc-dim: rgba(176,180,207,0.0875);
    --app-fg: hsla(0,0%,100%,0.1);
    --app-fg-dark: #181c34;
    --app-bg: #f7f7ff;
    --app-bg-dark: #d9d9e0;
    --app-nav: linear-gradient(to right top,#00aee9,#4fe7c8);
    --app-nav-light: linear-gradient(to right top,#00aee9,#4fe7c8);
    --app-light-blue: #4fe7c8;
    --app-dark-blue: #00aee9;
    --black: #000;
    --grey: #d4d5de;
    --white: #fff;
    --white-fade-1: rgba(177,179,187,0.25);
    --white-fade-2: rgba(208,209,214,0.15);
    --green: #4fb42d;
    --green-fade-1: rgba(79,180,45,0.25);
    --green-fade-2: rgba(79,180,45,0.15);
    --orange: #ff9100;
    --orange-fade-1: rgba(255,145,0,0.25);
    --orange-fade-2: rgba(255,145,0,0.15);
    --red: #c00;
    --red-fade-1: rgba(204,0,0,0.25);
    --red-fade-2: rgba(204,0,0,0.15);
    --tx-banking: #ed553b;
    --tx-staking: #47ab6c;
    --tx-governance: #15cfcc;
    --tx-distribution: #f2b134;
    --input-bg: transparent;
    --success: #36c936;
    --success-bc: #2ca52c;
    --warning: #eff316;
    --warning-bc: #aa6d18;
    --danger: #ff1a1a;
    --danger-bc: #d10000;
    --tendermint: #5ead37;
    --info: #551f38;
    --x: 16px;
    --px: 0.0625rem;
    --sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Nunito",sans-serif;
    --helvetica: "Nunito",Nunito,Arial,sans-serif;
    --mono: Consolas,Monaco,monospace;
    --xxl: calc(var(--x)*1.75);
    --xl: calc(var(--x)*1.5);
    --lg: calc(var(--x)*1.25);
    --m: var(--x);
    --sm: calc(var(--x)*0.75);
    --xs: calc(var(--x)*0.7);
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1.125rem;
    --h5: 1rem;
    --h6: 0.75rem;
    --aw: 64rem;
    --width-main: 100%;
    --width-main-max: 48rem;
    --width-side: 14rem;
    --z-modalError: 1002;
    --z-modal: 1000;
    --z-appHeader: 100;
    --z-appMenu: 99;
    --z-toolBar: 98;
    --z-listItem: 10;
    --z-default: 1;
    --z-zero: 0;
    --z-below: -1;
}